:root {
	/* Colors */
	--clr-primary-magenta: hsl(300, 43%, 22%);
	--clr-primary-pink: hsl(333, 80%, 67%);

	--clr-neutral-magenta-dark: hsl(303, 10%, 53%);
	--clr-neutral-magenta-light: hsl(300, 24%, 96%);
	--clr-white: hsl(0, 0%, 100%);

	/* Typography */
	--ff-primary: 'League Spartan', sans-serif;

	--fs-primary: 15px;

	--fw-bold: 700;
	--fw-normal: 500;
	--fw-light: 400;
}

/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* General Styling */

body {
	padding-inline: 1.2rem;
	font-family: var(--ff-primary);
	font-size: var(--fs-primary);
}

.background__img-top {
	position: absolute;
	z-index: -1;
	top: 0;
}

.social__header {
	margin-top: 5rem;
}

.header__title {
	text-align: center;
	line-height: 2rem;
	color: var(--clr-primary-magenta);
	font-size: 40px;
	font-weight: var(--fw-bold);
}

.header__subtitle {
	color: var(--clr-neutral-magenta-dark);
	font-weight: var(--fw-normal);
	line-height: 1.2rem;
	margin: 1rem 0.5rem;
	font-size: 1rem;
	text-align: center;
}

.hero__rating {
	background-color: var(--clr-neutral-magenta-light);
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	padding: 0.85rem;
}

.hero__rating-stars {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.5rem;
}

.hero__text {
	color: var(--clr-primary-magenta);
	font-weight: var(--fw-bold);
	text-align: center;
}

.social__cards {
	margin-bottom: 6rem;
}

.social__card {
	background-color: var(--clr-primary-magenta);
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	padding: 2rem 1.5rem;
}

.card__header {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.card__img {
	border-radius: 50%;
	height: 2.25rem;
	margin-right: 1rem;
}

.card__title {
	color: var(--clr-white);
	font-weight: var(--fw-normal);
	height: 1.1rem;
}

.card__subtitle {
	color: var(--clr-primary-pink);
	font-weight: var(--fw-light);
}

.card__text {
	color: var(--clr-white);
	line-height: 1.1rem;
}

.background__img-bottom {
	display: none;
}
